<html>
    <head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon -->
    <link rel ="icon" href="/images/Screenshot 2021-06-05 at 9.02.29 PM 1.png" type = "image/x-icon" sizes="32x32" >
    <!-- cdn for noty -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <!-- cdn for jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- animate.css -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- home style css -->
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/footer.css">
    <%- style%>

    </head>

    <body class=" animate__animated animate__fadeIn"> 
        <!-- <%- include('_header');%> -->
        <!-- navigation -->
        <nav>
            <!-- logo -->
            <div id="LOGO">
                <a href="/"><i class="fab fa-servicestack animate__animated animate__bounceInLeft"></i></a>
            </div>
            <!-- name of the app -->
            <div id="name">
                <span class="TextinNav">Share</span><br><span class="TextinNav" style="font-weight:700; color:#ee1c24">Express</span>
            </div>
            <div id="right">
                <!-- added the header part here -->
            <% if (locals.user){ %>
                <!-- <a href="/users/profile" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1rem; font-weight:500;color:lightgrey;padding:10px 20px ;background-image:linear-gradient(45deg,rgba(238,28,36,0.05),rgba(33,38,44,0.9));border:1px black solid;margin-right:2rem ;"> <%= user.name %></a> -->
                <a href="/users/sign-out" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1rem; font-weight:500;color:lightgrey;padding:10px 20px  ;background-image:linear-gradient(45deg,rgba(238,28,36,0.05),rgba(33,38,44,0.9));border:1px black solid;margin-right:2rem ;">Sign Out</a>
            <% }else{ %>
                <a href="/users/sign-in" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1em; font-weight:500;color:lightgrey;padding:10px 20px  ;background-image:linear-gradient(45deg,rgba(238,28,36,0.05),rgba(33,38,44,0.9));border:1px black solid;margin-right:2rem ;">Sign In</a>
                <a href="/users/sign-up" class="TextinBlock catstyle" id="selectallbtn" style="font-size:1em; font-weight:500;color:lightgrey;padding:10px 20px ;background-image:linear-gradient(45deg,rgba(238,28,36,0.05),rgba(33,38,44,0.9));border:1px black solid;margin-right:2rem ;">Sign Up</a>
            <% } %>
            </div>
        </nav>
        <!-- flash message in layout as will work for all -->
        <!-- <% if(flash.success && flash.success.length > 0){ %>
            <h5 style="color: cyan;">
                <%= flash.success %>
            </h5>    
        <% } %> -->
        <!-- now using noty -->
        <!-- body -->
        <%- body%>
        <!-- doing the footer like as told...head made itself in the layout -->
        <%- include('_footer');%>
        <!-- putting here -->
       
        <%- script%>
        <script>
            <% if (flash.success && flash.success.length > 0) {%>
                new Noty({
                    theme: 'sunset',
                    text: "<%= flash.success %>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>

            <% if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'sunset',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>
        </script>
        
    </body>
</html>